vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args

border-radius()
	vendor(border-radius, arguments)

user-select()
	vendor(user-select, arguments)

box-sizing()
	vendor(box-sizing, arguments)

icon_close = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACDQAAAg0Bd06+cAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACqSURBVEjH7ZaxDYUwDESfEAVUhDmYmIIp6EAMAGIn0xgpRYL4X0amoLjqTr5THDtBRPAEX4CfxNAB5QVfAp15AKAABkCAHWgTmlY5UW1hGaDXwhKFCBEfIvMTvUkALS4JbECj2DKaYHUCY8ZgVaS40bIFFTBljFKYgMp0CjTEfMN8vmv+zxjWwHJhvgD1k3vAL4BrC9wvoesYvmUR+a3iVzxG7s/x9yN6EgcewZkbjd7+uwAAAABJRU5ErkJggg2760b29e907bb3f6679d7bb19909e1e8'
icon_chats = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACDQAAAg0Bd06+cAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABwSURBVEjHY/j//z/DQGKGUQfglGBgkAbiU0B8g0IMMkOaHAd4APF/KmEPchxgSUUHWJKVBoDAChoSlGCr0VxAbi7gBOImIJ5AIQaZwUmOA1ypmAhdh6QDBjYKRnPBgBdEA14UD4bKaGCr49FcQC8MAFuxIjMFJeMNAAAAAElFTkSuQmCC75e4622e540be52b8136420cf8cc5769'
icon_new = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACDQAAAg0Bd06+cAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAF0SURBVEjH3da/S1dhFMfxV6bWUNIkOJv/gYOQuIQQDSINCYItIiHi4CqEjq0tgYKBBCpIBNLmIjjopm0ugigNIkSIKP7qOni+cBG0+yN/4HCGe8899/N+Ds/5PI8kSdxmuLMAqEIPxjGTIabwAQ1R/wh9aM4NgGrMI8ER/mSMX2hEDX5E/SE68gIMRvFHPMvV0nPxOozFPyoQ7XkA5rCD2pzi1fiOpYCYSEF8ywOwjOUC4rNYxQYW8RSTRTqQCwAPMY0VDOE0Vr2AJ1dtxNIAMS1fY+WDKfHKBm4rMgWZAPAAX/AT/ThJiR/jTSEfyAIQ4uNYi3k/Tomf4G1hI8oI8DnEfkerK+Kn6C7lhP8CwCds4zW2Loi/K23FVwHgcYi9iOemgPmL3njXg/rrBlhHK15hH+8j3xr5lusGSMLxDjCQynf+D4BLrTgcbzQVXRfywwHwvAxAocMIbdiMqCoDUOQ43o3v9/Dyti4kI2i8H1eym4ozFy4wWbepAoYAAAAASUVORK5CYII4cc6e9061ed51a469ea2e595be7607cc'
icon_star_full = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAQAAAALUFbPAAAA60lEQVR4Ab3Rv2ryUBzH4ceASNwdHF5B6SAUnL2HDlm8gSKt9M/iIIKL1+AihNqhvQC3Xku7d3q7OjmdumQRD4bQ9vltgXzgy/HbMpnqNH0drqmyqSCYEpeIa5iBmUa1wFgbtI2rBOrmCnP18oHUwMjCVkehY2thZCB1pKYAa1f+qYkLPr25jwU2xs5be4hNuPXqnGeP8QkkNq7FPZkI8QDU5G6clrsTzr1CMIkMeTn6PRIgeHfKh0CZAJfxr38SSPQV/h+u0JeUC/SkYGfp4nBLO5DqKSUT7K20FFpW9oJMKUO5rmNduaGf9w3HRC/sYXJBTQAAAABJRU5ErkJgggd637a809cea5754063fdc4c133f9640a'
icon_star_empty = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACDQAAAg0Bd06+cAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAF0SURBVEjHxda9ShxhGMXx3w6IKLZikUoQ7Kws0ljY2W0KwVsQOztJ4T1YKEYWSfASbBPwAoIE7yAWEqJVEMFmx+YIw6KT2XXcLU4xz5znvP/3Y15GWZYmqbc100V3IgCYxd9odhIAuyij3bECYBo3+BndYHqcADuZ+aeoxM5YADCF37hCJ7pKbap1AMxgBZv4jPPMeKvi2UrtPJ7N9MyMDICjzKpfOWwl7vEdRcVbpHY/4O0n42gUgF5CbrGNdXxAp6anE896em6TcTgKQIFvCTiuG/gVkOP09mqh/xNU4DRBJ00gMvhJ0x5DBvYabEFvmFUbZkmft2OtxrcWz9emWzbM97+X8IUaz0I8e61fRDjD3QtnpBio3eHsPQAucVF53sCvaKNSv8BlqwCZ6QMOsYofWeo/UZnaajwPgyvzVoClDHKd2+0f9jEX7afWj6fEUpsA3YQ+4gDzL3jm8+4x3m6bAB/xBYsNvIu5A5bf/Z+wDT0BSO6E5BkSus8AAAAASUVORK5CYII60d77c9047e7cd3bde62b68900efc34d'

#fancy-chat
	position fixed

	left 50%
	top 50%

	width 650px
	margin-left -(@width / 2)
	height 450px
	margin-top -(@height / 2)

	z-index 1234

	box-shadow 0 0 0 1px black

	*
		box-sizing(border-box)
		margin 0
		padding 0

	.send
		position relative
		height 120px

		.message
			width 550px
			margin 0
			padding-top 8px
			padding-left 8px

#fancy-textarea
	width 100%
	height 104px
	resize none

	padding 0.6em 1em

	line-height 1.33
	vertical-align top

	outline none

	border-radius(0.3125em)

#fancy-send
	position absolute
	right 8px
	top 8px
	width 13%
	height 104px
	line-height @height

	cursor pointer
	display inline-block
	text-align center

	outline none
	border none
	background-color #D6D6D6
	color #808080

	border-radius(0.25em)
	user-select(none)

#fancy-header
	height 80px
	box-shadow 0 0 0 1px black
	background-color #EAEAEA

	span
		position absolute
		width 550px
		top 25px
		left ((650 - @width)/2)px
		font-size 18pt
		text-align center

	a
		position absolute
		right 32px
		top 31px
		width 32px
		height 22px
		cursor pointer
		background-repeat no-repeat

		&.chats
			background-image url(icon_chats)

		&.new
			background-image url(icon_new)

		&:last-child
			right 5px
			background-image url(icon_close)

		&.starred
			left 35px
			background-image url(icon_star_full)

			&.false
				background-image url(icon_star_empty)

#fancy-listings
	height 369px
	margin-top 1px
	overflow-y auto

	.listing
		cursor pointer

		&:hover
			background-color #EBEBEB

#fancy-messages
	margin-top 1px
	height 250px
	box-shadow 0 0 0 1px black
	overflow-y auto

	.in:last-child, .out:last-child
		margin-bottom 10px

	.in, .out
		margin 8px 20px 0 20px
		width auto
		max-width 300px
		padding 5px 12px 5px 12px
		clear both
		float left
		position relative
		word-wrap break-word
		box-shadow: 0 0 0 1px;

	.in
		background-color #EBEBEB

	.out
		background-color #F5F5F5
		float right
