vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

border-radius()
	vendor(border-radius, arguments)

user-select()
	vendor(user-select, arguments)

box-sizing()
	vendor(box-sizing, arguments)

#fancysupport
	z-index 9999998
	position fixed
	font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
	border 0
	padding 0
	margin 0

	.activator
		position fixed
		right 20px
		bottom 20px
		width 50px
		height 50px
		background-color #0A435F
		font-size 0
		color #fff
		border-radius 5px
		text-align center
		cursor pointer
		z-index 9999999

		svg
			fill #fff
			margin 5px
			margin 10px 5px
			height 30px
			width 30px

		&.hide
			display none

	.chat
		border 0
		border-left 1px solid #dadada
		position fixed
		right 0
		top 0
		bottom 0
		width 350px
		background-color #fafafa

		.header
			background-color #0A435F
			height 40px
			box-sizing border-box

			.title
				color #fff
				font-size 16px
				line-height 40px
				margin-left 10px
				font-weight 300

			.close
				float right
				padding 0
				line-height 0
				cursor pointer

				svg
					margin 12px
					width 16px
					height 16px
					fill #fff

		.messages
			box-sizing border-box
			overflow-y auto
			padding 5px

			.message
				margin-bottom 10px

				.avatar
					width 32px
					height 32px
					display inline-block
					vertical-align top
					padding 0
					img
						width 32px
						height 32px
						border 0
				
				.info
					color #9a9a9a
					font-size 13px
					padding 2px 5px

				.content
					background-color white
					border 1px solid #dadada
					border-radius 4px
					padding 5px
					font-size 16px
					white-space pre

				.from_customer
					.avatar
						float left
					.info
						text-align left
						margin-left 40px
					.content
						margin-left 40px

				.from_fancy
					.avatar
						float right
					.info
						text-align right
						margin-right 40px
					.content
						margin-right 40px


		.input
			box-sizing border-box
			padding-top 10px

			.input-container
				position relative

				textarea
				.textcopy
					width 330px
					box-sizing border-box
					font-size 14px
					border 1px solid #dadada
					border-radius 0
					padding 5px
					overflow-y auto
					font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
					margin 0 10px

				textarea
					resize none
					height 100%
					position absolute

				.textcopy
					visibility hidden
					min-height 30px
					max-height 200px
					word-break break-word

				.send
					height 30px
					color #0A435F
					border 0
					font-size 14px
					font-weight bold
					display inline-block
					line-height 30px
					padding 0 10px
					vertical-align top

			.powered-by-fancy
				text-align center
				padding 15px 5px 10px 5px
				font-size 11px
				color #9a9a9a
				a
					color #9a9a9a



@import "media"
