icon_star_filled = url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAoklEQVQ4y2NgIA0wQjHNQCsU0wSIAfFXKBajhQU9QPwfinto5XqYBUT7ggWHuDAQqyJhJyDmQpIHsdcB8T4gvo2E3xJjaSiSS0nFQcRYwATEc8gwfDopSRikcCIJhveRG7ltRBjeQmnqIWSBGKHwxgd0iXCELiUW6KDx/0IxPjVk+eAfEC8DYk0oXgYVI9aXOMEBIF6Lw5U6ULl9lFjASqkaAOo7UfIfec4IAAAAAElFTkSuQmCC")

icon_star_empty = url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABigAAAYoBM5cwWAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEDSURBVDjLtdOxDsFQFAZghCdo1NSxkSaCUax9A4nRM3gCi2ASicliExGDWRqRGCwehGCRNDGw1H+Sf7hDNZfLTb7ktuf0/tSRiqIopQsrLT565sOAvvhLAJYNd7L/ETCEDQ1/GqB8+jppf4t3B1pQgxZ0YQ+BUg94r8se6bW0ArCaIJsQDjCDDrhKj8t7M/aEfKahE5CBKRzB03h9HnsncSOcNO9juEI14fAqe0Zf/chYA7iBE1NzWOt9PUWcHtnkY2oF1myTAB9OynUFysq1vB7fJKANayjCEp604CRtpcckQKbpzEPnPNTl/gEX6TEJ2MEKSjG1Emtrk4Ccxv8gm1R/ASBSdotWEO21AAAAAElFTkSuQmCC")

icon_close = url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAABigAAAYoBM5cwWAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACDSURBVDjLY/j//z8DLTHDgFsABAZAzINFnAckR5EFQFABxCDGZSAWQxIXg4qBOBVkWQAENlADYPgqEItD8VU0ORtyLBAF4vtoBl2HYmQxkBpRcoNIDojvohmIjEFycpRGsiwQ38FiOEhMlhqpiHYW0DSIaB7JNE+mNM9odCkqhkRpCgDUbYLSOAz5bwAAAABJRU5ErkJggg==")
