@media only screen and (max-width 500px)
	#fancy-chat
		width 310px
		margin-left -155px

		.fancy-send
			.fancy-message
				padding 1.5% 1.25% 5% 3.9%

@media only screen and (max-height 525px)
	#fancy-chat
		height 310px
		margin-top -155px

	#fancy-send
		top 8%
		line-height 35px

	#fancy-header
		span, a
			top 20%

		a.fancy-icon-pencil
			top 30%

	#fancy-listings
		.fancy-listings
			height 79%

		.fancy-powered-by
			height 6%
			padding-top 0