absolute(w, h)
	width w px
	margin-left: -(w/2) px
	height h px
	margin-top: -(h/2) px


@media only screen and (max-width: 1030px) and (orientation: landscape)
	#fancy-chat
		absolute(650, 385)

		.header
			height 60px

			span
				top 14px

			a
				top 21px

		#fancy-messages
			height 210px

		.send
			#fancy-send
				height 100px

			.message
				textarea
					height 100px

@media only screen and (max-width: 600px) and (orientation: portrait)
	#fancy-chat
		absolute(590, 450)

		.header
			span
				width 384px
				left 103px

		.send
			.message
				width 496px

@media only screen and (max-width: 600px) and (orientation: landscape)
	#fancy-chat
		absolute(590, 350)

		.header
			height 60px

			span
				width 384px
				left 103px
				top 14px

			a
				top 21px
				
		#fancy-messages
			height 170px

		.send
			.message
				width 496px



@media only screen and (max-width: 568px) and (orientation: landscape)
	#fancy-chat
		absolute(560, 250)

		.header
			height 60px

			span
				width 366px
				left 97px
				top 14px

			a
				top 21px

		#fancy-messages
			height 100px

		.send
			height 85px

			#fancy-send
				right 5px
				top 5px
				width 75px
				height 80px
				line-height 80px

			.message
				width 474px
				padding-left 5px
				padding-top 5px

				textarea
					height 80px



@media only screen and (max-width: 480px) and (orientation: landscape)
	#fancy-chat
		absolute(460, 250)

		.header
			height 60px

			span
				width 300px
				left 80px
				top 14px

			a
				top 21px


		#fancy-messages
			height 100px

		.send
			height 85px
			
			#fancy-send
				right 5px
				top 5px
				width 75px
				height 80px
				line-height 80px

			.message
				width 375px
				padding-left 5px
				padding-top 5px

				textarea
					height 80px



@media only screen and (max-width: 384px) and (min-width: 321px)
	#fancy-chat
		absolute(375, 590)

		.header
			span
				width 250px
				left 67px

		#fancy-messages
			height 395px

		.send
			#fancy-send
				right 5px
				top 5px
				width 65px

			.message
				width 300px
				padding-left 5px
				padding-top 5px



@media only screen and (max-width: 320px)
	#fancy-chat
		absolute(310, 400)

		.header
			height 60px

			span
				width 200px
				left 55px
				top 14px

			a
				top 21px

		.send
			height 85px

			#fancy-send
				right 5px
				top 5px
				width 50px
				height 80px
				line-height 80px

			.message
				width 250px
				padding-left 5px
				padding-top 5px

				textarea
					height 80px
